.container {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  background-color: pink;
}

.wrapper-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-and-deck-list-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  height: 100%;
  padding: 20px;
}

.sidebar-link {
  font-size: 20px;
  margin: 0 0 20px 0;
}

.deck-list-container {
  width: 800px;
  height: 100%;
}

.card-list-container {
  width: 800px;
  height: 100%;
}

.header-container {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-link {
  font-size: 20px;
  margin: 0 20px 0 20px;
}

.landing-page-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.landing-page-text {
  width: 400px;
}
