.container {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  background-color: pink;
}

.form-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 40px 40px 30px 40px;
  background: white;
  border-radius: 3px;
  box-shadow: 10px 10px 10px grey;
}

input {
  height: 50px;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 0 15px 0 15px;
  background: lightgray;
  border: none;
}

button {
  height: 50px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 15px;
  margin-top: 5px;
  color: white;
  background: lightseagreen;
}

.form-link-text {
  color: darkgray;
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}

.form-link-text .form-link {
  color: lightseagreen;
  font-size: 12px;
}

.form-link a:visited {
  color: lightseagreen;
}

.wrapper-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-and-deck-list-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  height: 100%;
  padding: 20px;
}

.sidebar-link {
  font-size: 20px;
  margin: 0 0 20px 0;
}

.deck-list-container {
  width: 800px;
  height: 100%;
}

.card-list-container {
  width: 800px;
  height: 100%;
}

.header-container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 25px;
  border-bottom: 1px solid white;
  box-sizing: border-box;
}

.header-link {
  font-size: 15px;
  margin-left: 20px;
  font-weight: 100;
}

.app-name-link-container .header-link {
  font-size: 40px;
  font-weight: 200;
  margin: 0;
}

.login-register-links-container {
  display: flex;
  flex-direction: row;
}

.landing-page-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.landing-page-text {
  width: 400px;
}
