/* * {
  border: 1px solid black;
} */

* {
  box-sizing: border-box;
}

html {
  /* position: relative; */
  /* flex:1; */
  /* overflow:hidden; */
  /* overflow-y:auto; */
  scroll-behavior: smooth;
  /* -webkit-overflow-scrolling:touch; */
}

body {
  font-family: Helvetica;
  /*  background: lightsteelblue; */
  background: #2c3d48;
}

a {
  text-decoration: none;
  font-size: 50px;
}

a:hover {
  color:white;
  text-decoration: underline;
}

a:visited {
  color: white;
}
