/* * {
  border: 1px solid black;
} */

body {
  font-family: Helvetica;
  /*  background: lightsteelblue; */
  background: #2c3d48;
}

a {
  text-decoration: none;
  font-size: 50px;
}

a:hover {
  color:white;
  text-decoration: underline;
}

a:visited {
  color: white;
}

